// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

html,
body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    background-color: $body-bg;
    line-height: $line-height-base;
}

//navbar classes

.navbar-light {
    background-color: none;
}

.nav-logo {
    width: 120px;
}

.nav-item {
    .nav-link {
        font-weight: bold;
        color: $white !important;
        border-bottom: 2px solid $grey;
        transition: all 0.2s;
    }

    .nav-link:hover {
        color: $purple !important;
        border-bottom: 2px solid $purple;
        transition: all 0.2s;
    }
}
//navbar classes

//section classes
.section {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-one {
    background-image: url("/images/background/section-one.png");
}

.card-opniao {
    background-position: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/storage/graphics_cards/rtx_2080_super.png");
    margin-top: 10vh;
}

.line {
    border: 5px solid $purple;
    width: 100px;
}

//topicos
.rating {
    font-weight: bold;
    font-size: 2rem;
}
